In [68]:
import pandas as pd
import numpy as np

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [69]:
dates = pd.date_range("20130101",periods = 6)

In [70]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [71]:
df

                   A         B         C         D
2013-01-01 -0.055907 -0.170845  0.117577  1.287278
2013-01-02 -0.456224  0.383533 -1.104471  0.260352
2013-01-03  1.317096 -0.415781 -1.205289 -1.238954
2013-01-04 -0.803543  0.861997 -0.283508  1.806785
2013-01-05 -0.764639  0.498538  1.987944  0.421761
2013-01-06  0.331299  0.255592  0.507864 -0.824421

In [72]:
df.head()

                   A         B         C         D
2013-01-01 -0.055907 -0.170845  0.117577  1.287278
2013-01-02 -0.456224  0.383533 -1.104471  0.260352
2013-01-03  1.317096 -0.415781 -1.205289 -1.238954
2013-01-04 -0.803543  0.861997 -0.283508  1.806785
2013-01-05 -0.764639  0.498538  1.987944  0.421761

In [73]:
df.to_numpy()

array([[-0.05590723, -0.17084529,  0.11757712,  1.2872785 ],
       [-0.45622432,  0.38353334, -1.10447083,  0.2603523 ],
       [ 1.31709553, -0.41578134, -1.20528943, -1.23895417],
       [-0.80354268,  0.86199659, -0.2835078 ,  1.80678468],
       [-0.76463924,  0.49853835,  1.9879439 ,  0.42176104],
       [ 0.33129892,  0.25559225,  0.50786417, -0.82442093]])

In [74]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.071987  0.235506  0.003353  0.285467
std    0.806849  0.463312  1.181233  1.174134
min   -0.803543 -0.415781 -1.205289 -1.238954
25%   -0.687536 -0.064236 -0.899230 -0.553228
50%   -0.256066  0.319563 -0.082965  0.341057
75%    0.234497  0.469787  0.410292  1.070899
max    1.317096  0.861997  1.987944  1.806785

In [75]:

df.sort_index(axis= 1 ,ascending = False)

                   D         C         B         A
2013-01-01  1.287278  0.117577 -0.170845 -0.055907
2013-01-02  0.260352 -1.104471  0.383533 -0.456224
2013-01-03 -1.238954 -1.205289 -0.415781  1.317096
2013-01-04  1.806785 -0.283508  0.861997 -0.803543
2013-01-05  0.421761  1.987944  0.498538 -0.764639
2013-01-06 -0.824421  0.507864  0.255592  0.331299

In [76]:
df2 = pd.DataFrame(

    {
       "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
 
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [77]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [78]:
df["A"]
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02 -0.456224  0.383533 -1.104471  0.260352
2013-01-03  1.317096 -0.415781 -1.205289 -1.238954
2013-01-04 -0.803543  0.861997 -0.283508  1.806785

In [79]:

df.loc[dates[0]]

A   -0.055907
B   -0.170845
C    0.117577
D    1.287278
Name: 2013-01-01 00:00:00, dtype: float64

In [80]:
df.iloc[3]

A   -0.803543
B    0.861997
C   -0.283508
D    1.806785
Name: 2013-01-04 00:00:00, dtype: float64

In [81]:

data = {
    "name":["SpongeBob","patrick","squidward"],
    "age":[21 ,34 ,78]
}

df1 = pd.DataFrame(data);
df1

        name  age
0  SpongeBob   21
1    patrick   34
2  squidward   78

In [82]:
df1 = pd.DataFrame(data,index=["emp1","emp2","emp3"])
df1

           name  age
emp1  SpongeBob   21
emp2    patrick   34
emp3  squidward   78

In [83]:
df1["Job"] = ["doctor","N/A","cook"]
df1
new_row = pd.DataFrame([{
    "name":"Sandy","age":28,"Job":"Engineer"},
    {"name":"Eugene","age":60,"Job":"Manager"}] ,
    index = ["emp4","emp5"])
df = pd.concat([df1,new_row])
df

           name  age       Job
emp1  SpongeBob   21    doctor
emp2    patrick   34       N/A
emp3  squidward   78      cook
emp4      Sandy   28  Engineer
emp5     Eugene   60   Manager

In [4]:
import pandas as pd
# You MUST include 'work/' because that is where the volume is mapped
df = pd.read_csv("work/pokemon.csv")
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'work/pokemon.csv'

In [24]:
import pandas as pd
# Added 'numpy/' to the path because that's where your list says the files are
df = pd.read_csv("work/numpy/pokemon.csv",index_col="Name")
# print(df["Speed"].to_string())
# print(df.loc["Pikachu":"Blastoise",["Attack"]]
print (df.iloc[0:11])

                           # Type 1  Type 2  Total  HP  Attack  Defense  \
Name
Bulbasaur                  1  Grass  Poison    318  45      49       49
Ivysaur                    2  Grass  Poison    405  60      62       63
Venusaur                   3  Grass  Poison    525  80      82       83
VenusaurMega Venusaur      3  Grass  Poison    625  80     100      123
Charmander                 4   Fire     NaN    309  39      52       43
Charmeleon                 5   Fire     NaN    405  58      64       58
Charizard                  6   Fire  Flying    534  78      84       78
CharizardMega Charizard X  6   Fire  Dragon    634  78     130      111
CharizardMega Charizard Y  6   Fire  Flying    634  78     104       78
Squirtle                   7  Water     NaN    314  44      48       65
Wartortle                  8  Water     NaN    405  59      63       80

                           Sp. Atk  Sp. Def  Speed  Generation  Legendary
Name
Bulbasaur                       65       65     45           1      False
Ivysaur                         80       80     60           1      False
Venusaur                       100      100     80           1      False
VenusaurMega Venusaur          122      120     80           1      False
Charmander                      60       50     65           1      False
Charmeleon                      80       65     80           1      False
Charizard                      109       85    100           1      False
CharizardMega Charizard X      130       85    100           1      False
CharizardMega Charizard Y      159      115    100           1      False
Squirtle                        50       64     43           1      False
Wartortle                       65       80     58           1      False

In [25]:
pokemon = input("Enter a pokemon name")
try :
    print(df.loc[pokemon])
except keyError:
    print("not found")

#                   25
Type 1        Electric
Type 2             NaN
Total              320
HP                  35
Attack              55
Defense             40
Sp. Atk             50
Sp. Def             50
Speed               90
Generation           1
Legendary        False
Name: Pikachu, dtype: object

In [29]:
tall_pokemon = df[df["Attack"]>150]
print(tall_pokemon)

                           #   Type 1    Type 2  Total   HP  Attack  Defense  \
Name
PinsirMega Pinsir        127      Bug    Flying    600   65     155      120
GyaradosMega Gyarados    130    Water      Dark    640   95     155      109
MewtwoMega Mewtwo X      150  Psychic  Fighting    780  106     190      100
HeracrossMega Heracross  214      Bug  Fighting    600   80     185      115
TyranitarMega Tyranitar  248     Rock      Dark    700  100     164      150
BlazikenMega Blaziken    257     Fire  Fighting    630   80     160       80
Slaking                  289   Normal       NaN    670  150     160      100
BanetteMega Banette      354    Ghost       NaN    555   64     165       75
GroudonPrimal Groudon    383   Ground      Fire    770  100     180      160
RayquazaMega Rayquaza    384   Dragon    Flying    780  105     180      100
DeoxysAttack Forme       386  Psychic       NaN    600   50     180       20
Rampardos                409     Rock       NaN    495   97     165       60
GarchompMega Garchomp    445   Dragon    Ground    700  108     170      115
GalladeMega Gallade      475  Psychic  Fighting    618   68     165       95
Regigigas                486   Normal       NaN    670  110     160      110
KyuremBlack Kyurem       646   Dragon       Ice    700  125     170      100
DiancieMega Diancie      719     Rock     Fairy    700   50     160      110
HoopaHoopa Unbound       720  Psychic      Dark    680   80     160       60

                         Sp. Atk  Sp. Def  Speed  Generation  Legendary
Name
PinsirMega Pinsir             65       90    105           1      False
GyaradosMega Gyarados         70      130     81           1      False
MewtwoMega Mewtwo X          154      100    130           1       True
HeracrossMega Heracross       40      105     75           2      False
TyranitarMega Tyranitar       95      120     71           2      False
BlazikenMega Blaziken        130       80    100           3      False
Slaking                       95       65    100           3      False
BanetteMega Banette           93       83     75           3      False
GroudonPrimal Groudon        150       90     90           3       True
RayquazaMega Rayquaza        180      100    115           3       True
DeoxysAttack Forme           180       20    150           3       True
Rampardos                     65       50     58           4      False
GarchompMega Garchomp        120       95     92           4      False
GalladeMega Gallade           65      115    110           4      False
Regigigas                     80      110    100           4       True
KyuremBlack Kyurem           120       90     95           5       True
DiancieMega Diancie          160      110    110           6       True
HoopaHoopa Unbound           170      130     80           6       True

aggregate functions using pandas

In [31]:
print(df.mean(numeric_only=True))

#             362.81375
Total         435.10250
HP             69.25875
Attack         79.00125
Defense        73.84250
Sp. Atk        72.82000
Sp. Def        71.90250
Speed          68.27750
Generation      3.32375
Legendary       0.08125
dtype: float64

In [32]:
print(df.sum(numeric_only=True))

#             290251
Total         348082
HP             55407
Attack         63201
Defense        59074
Sp. Atk        58256
Sp. Def        57522
Speed          54622
Generation      2659
Legendary         65
dtype: int64

In [33]:
print(df.sum(numeric_only=True))

#             290251
Total         348082
HP             55407
Attack         63201
Defense        59074
Sp. Atk        58256
Sp. Def        57522
Speed          54622
Generation      2659
Legendary         65
dtype: int64

In [34]:
print(df.count())

#             800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [35]:
print(df["Attack"].mean())

79.00125

In [36]:
print(df["Attack"].sum())

63201

In [37]:
print(df["Attack"].max())

190

In [1]:
group = df.groupby("Type 1")
print(group["Attack"].mean())

NameError: name 'df' is not defined